* {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

#content {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    gap: 4px;
    padding-bottom: 30px;
    padding-top: 40px;
    border-radius: 20px;
}

input {
    width: 260px;
    height: 60px;
    font-size: 50px;
    margin-bottom: 10px;
    background-color: #000000;
    border: none;
    color: white;
    text-align: right;
}

#row1, #row2, #row3, #row4 {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

#row5 {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#zero {
    width: 126px;
    height: 60px;
    border-radius: 20px;
}

.button-orange {
    background-color: #fe9505;
    color: #fdfdfd;
}

.grey-button {
    background-color: #333333;
    color: #fdfdfd;
}

.light-grey-button {
    background-color: #a5a5a5;
    color: black;
}

button:hover{
    opacity: 70%;
}

footer {
    height: 5vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#github-logo {
    width: 15px;
}

#github-link {
    font-size: 15px;
    color: white;
    text-decoration: none;
}

a:hover {
    opacity: 90%;
}